* {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 26, 26);
}

.title {
    text-align: center;
}

.form {
    background-color: rgb(57, 68, 68);
    padding: 40px 200px;
    margin: 30px;
    border-radius: 20px;
    text-align: center;

}

.sideImage {
    width: 100%;
    height: auto
}